<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'PrismDemo' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>827d204b-ec33-4900-9c3a-bba681095c18</InstrumentationKey>
</ApplicationInsights>